* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle {
    background-color: rgba(255, 82, 82, 1);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.9);
    }
}