* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.spinner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}

.spinner-text {
    font-size: 2em;
    animation: loading-opacity 3s ease-in-out infinite;
}

.spinner-sector {
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 15px solid transparent;
    mix-blend-mode: overlay;
}

.spinner-sector-blue {
    animation: rotate 2s ease-out infinite;
    border-top: 15px solid pink;
}

.spinner-sector-red {
    animation: rotate 2.5s ease-in infinite;
    border-top: 15px solid orangered;
}

.spinner-sector-green {
    animation: rotate 1.5s ease-in-out infinite;
    border-top: 15px solid greenyellow;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes loading-opacity {
    0%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: .5;
    }

    50% {
        opacity: .1;
    }
}